html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5rem;

}


h1, h2, h3 {
    color: #bb1b47;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

h1 {
    text-transform: capitalize;
    font-size: 3rem;
    letter-spacing: .1rem;
    font-weight: bold;
}

h2 {
    font-size: 2rem;

}

h3 {
    font-size: 1.5rem;

}

.site-intro {
    font-size: 1.25rem;

}

a:link {
    color:blue;

}


a:visited{ 
    color:blueviolet;


}

a:hover {
    color:darkolivegreen;

}

a:active {
    color:darkblue;

}

a:focus {
    color:aqua;
}