html {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5rem;
    line-height: 1.2;
    color: #206A5D

}



h1,
h2,
h3 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration:underline rgba(129, 178, 20, .8) 4px;
    text-underline-offset: 12px;
    color: #81B214
    
}

h1{
    font-size: 2rem;
    opacity: 0%;

}

.fade-text {
    animation: fadeText ease-in 4s 8s;
    animation-fill-mode: forwards;

}

@keyframes fadeText {
    0% {
        opacity:0;

    }

    100% {
        opacity:1;
    }

}


h2{
    font-size: 1.75rem;

}

h2::before,
h2::after {
    content: "\1F60c ";

}


h3 {
    font-size: 1.25rem;

}

nav {
    float: right;
    position: sticky;
    top: 0;
    background-color: #81B214;

}

nav ul {
    padding: .25;

}

nav li {
    font-size: 1.25rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight:400;
    letter-spacing: 1px;
    list-style-type: none;
    text-transform: uppercase;

}

nav,
header {
    text-align: center;
}

nav a,
.assignments a,
footer a {
    text-decoration: none;
    color:#81B214

}

ul.assignments {
    list-style-type: none;
}



nav a:link,
nav a:visited {
    line-height: 1.3;
}

nav a:hover,
nav a:active {
    text-decoration: none rgb(191,220,174) 3px;
    text-underline-offset: 8px;
    color: rgb(47,131,220);

}

nav a:hover::before {
    content: "\1F332";
}

header p {
    font-size: 75%;
    color: #81B214;
}

.img {
    animation: fadeImg ease 7s;

}

@keyframes fadeImg {
    0% {
        opacity:0;

    }

    100% {
        opacity:1;
    }

}

main,
header {
    width: 70%;
    margin: auto;
    line-height: 1.2;

}

.assignments li{ 
    list-style-type: none;

}

.assignments li::before {
    content: "\1f332 ";
    font-size: 1.4rem;

} 
.assignments a:link,
.assignments a:visited {
    line-height: 1.4;

}

.assignments a:hover,
.assignments a:active {
    text-decoration:wavy rgba(241, 241, 232, 1)
}



footer {
    line-height: 70%;
    font-weight: 400;
    color: rgba(129, 178, 20, .8)
    

}

small {
    float: right;
    padding: 20px 0 30px 0;

}