
html {
    box-sizing : border-box ;
    font-family: 'Oxygen', sans-serif;
    font-size: 1rem;
    line-height: 100%;
    color: chocolate;

  }


* ,
* ::before ,
* ::after {
    box-sizing : inherit ;
}


nav {
    background-color: #f0c33c;
    text-align: center;

}


nav li {
    display: inline;
    
}

nav a {
    padding: 15px;
    display: inline-block;
    color: aliceblue;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .75px;
}

nav a:link,
nav a:visited {
    text-decoration: none;
    color: #bd8600;

}

nav a:hover,
nav a:active {
    color: #f2d675;

}

main {
    width: 75%;
    margin: 0 auto;

}


h1,
h2 {
    font-family: 'Roboto', sans-serif;

}

h1 {
    font-size: 2rem;
    margin: 5% 0;
    text-align: center;
    text-shadow: -2px 4px 3px #ccc;
}

header {
    margin: 10%;
    margin-right: 5%;

}


img {
    float: left;
    max-width: 30%;
    margin-left: 10%;
    margin-right: 8%;
    border-radius: 50%;
    box-shadow: 4px 4px 4px #ccc;
    shape-outside: circle(50%);

}

header h2 {
    margin-top: 10%;

}

.rate {
    clear: both;
    margin-top: 5%;
    text-align: center;
    font-size: 1rem;

}


.emoji::after {
    content: "\1f370";

}

.details,
.ingredients,
.instructions,
.nutrients {
    width: 40%;
    float: left;

}

.details,
.instructions {
    margin-right: 16%;
    margin-left: 3%;

}

blockquote {
    clear: both;
    width: 300px;
    height: 280px;
    padding: 70px 12px 0 18px;
    border-radius: 50%;
    background-color: #f0c33c;
    outline: dotted 5px #f0c33c;
    outline-offset: 8px;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    margin:  40px auto;

}

blockquote small {
    text-align: right;

}

footer {
    background-color: #bd8600;
    color: aliceblue;
    padding: 2% 0;

}

footer a {
    display: block;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: aliceblue;

}

footer ul {
    list-style-type: none;

}

.col1,
.col2,
.col3 {
    display: block;
    float: left;
    width: 30%;
}

@media (max-width: 360px) {

    html {
        line-height: 135%;

    }
    
    nav a {
        padding: 8px;
        letter-spacing: normal;
        font-size: .9rem;

    }


    nav ul {
        padding-left: 8px;

    }

    main {
        width: 90%;

    }

    h1 {
        font-size: 1rem;
        text-shadow: none;

    }

    h2 {
        font-size: .8rem;

    }

    img {
        float: none;
        max-width: 90%;

    }

    .rate {
        font-size: .9rem;

    }

    .ingredients,
    .details,
    .instructions,
    .nutrients {
        float: none;
        width: 80%;

    }

    blockquote {
        max-width: 86%;
        max-height: 78%;

    }

    .col1,
    .col2,
    .col3 {
        display: block;
        float: none;
        width: 80%;
        
    }


}

@media (max-width: 810px) {
    html {
        line-height: 110%;

    }
    
    nav a {
        padding: 8px;
        letter-spacing: normal;
        font-size: .9rem;

    }


    nav ul {
        padding-left: 10px;

    }

    main {
        width: 90%;

    }

    h1 {
        font-size: 1.35rem;
        text-shadow: none;

    }

    h2 {
        font-size: 1rem;

    }

    img {
        float: none;
        max-width: 90%;

    }

    .rate {
        font-size: 1rem;

    }

    .ingredients,
    .details,
    .instructions,
    .nutrients {
        float: none;
        width: 80%;

    }

    blockquote {
        max-width: 90%;
        max-height: 84%;

    }

    .col1,
    .col2,
    .col3 {
        display: block;
        float: none;
        width: 80%;
        
    }

    
}